.builds-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-container{
    text-align: center;
}

h1{
    text-align: center;
    display: block;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    width: auto;
}
